<h3>Cadastro Unidade Federativa</h3>

<div class="row">
	<div align="center">
		<a ng-click="ctrl.novo()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
	  	<a ng-click="ctrl.atualizar()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a>
	  	<a ng-click="ctrl.salvar()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
	  	<a ng-click="ctrl.excluir(ctrl.uf.id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
	  	<a ng-click=""><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
  		<a ng-click=""><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a>
		<a ng-click=""><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
  </div>
</div>
<form>
	<div class="row">
		<div class="form-group col-md-4">
			<label for="uf_id">ID</label>
			<input type="text" class="form-control" id="uf_id">
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-4">
			<label for="uf_descricao">Nome</label>
			<input type="text" class="form-control" id="uf_descricao">
		</div>
		<div class="form-group col-md-4">
			<label for="uf_sigla">Sigla</label>
			<input type="text" class="form-control" id="uf_sigla">
		</div>
		<div class="form-group col-md-4">
			<label for="uf_ibge">Cód. IBGE</label>
			<input type="text" class="form-control" id="uf_ibge">
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-4">
			<label for="uf_dt_criacao">Data criação</label>
			<input type="text" class="form-control" id="uf_dt_criacao">
		</div>
		<div class="form-group col-md-4">
			<label for="uf_dt_alteracao">Data alteração</label>
			<input type="text" class="form-control" id="uf_dt_alteracao">
		</div>
	</div>
</form>