<ul class="nav nav-pills">
  <li role="presentation"><a ng-click="ctrl.novo()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
  <li role="presentation"><a ng-click="ctrl.atualizar()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a></li>
  <li role="presentation"><a ng-click="ctrl.salvar()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
  <li role="presentation"><a ng-click="ctrl.excluir(ctrl.uf.id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></li>
  <li role="presentation"><a ng-click=""><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></li>
  <li role="presentation"><a ng-click=""><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a></li>
  <li role="presentation"><a ng-click=""><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a></li>
</ul>