<div class="modal-demo">

<h3>CT-e</h3>

<div class="row">
	<div align="center">
		<button ng-click="ctrl.novo()" class="btn btn-default"><span class="glyphicon glyphicon-plus barraFerramenta" aria-hidden="true"></span></button>
	  	<button ng-click="ctrl.atualizar()" class="btn btn-default"><span class="glyphicon glyphicon-refresh barraFerramenta" aria-hidden="true"></span></button>
	  	<button ng-click="ctrl.salvar()" ng-disabled="ctrl.modoGrade" class="btn btn-default"><span class="glyphicon glyphicon-ok barraFerramenta" aria-hidden="true"></span></button>
	  	<button ng-click="ctrl.excluir(ctrl.veiculo.id)" ng-disabled="ctrl.modoGrade" class="btn btn-default"><span class="glyphicon glyphicon-remove barraFerramenta" aria-hidden="true"></span></button>
  		<button ng-click="ctrl.habilitarModoGrade()" class="btn btn-default" ng-show="ctrl.modoFormulario"><span class="glyphicon glyphicon-list-alt barraFerramenta" aria-hidden="true"></span></button>
		<button ng-click="ctrl.habilitarModoFormulario()" class="btn btn-default" ng-show="ctrl.modoGrade"><span class="glyphicon glyphicon-menu-hamburger barraFerramenta" aria-hidden="true"></span></button>
  </div>
</div>
<form ng-show="ctrl.modoFormulario">
	<div class="row">
		<div class="form-group col-md-4">
			<label for="cte_id">ID</label>
			<input type="text" class="form-control" id="cte_id" ng-model="cte.id" ng-disabled="true">
		</div>
	</div>
    <div class=row>
        <div class="form-group col-md-4">
            <label for="cte_numero">Número</label>
            <input type="text" class="form-control" id="cte_numero" ng-model="cte.numero">
        </div>
        <div class="form-group col-md-4">
            <label for="cte_serie">Série</label>
            <input type="text" class="form-control" id="cte_serie" ng-model="cte.serie">
        </div>
        <div class="form-group col-md-4">
			<label for="cte_dt_emissao">Data emissão</label>
			<input id="cte_dt_emissao" text="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy hh:mm" ng-model="ctrl.cte.dtEmissao" ng-disabled="true"/>
		</div>
        <div class="form-group col-md-4">
			<label for="cte_dt_criacao">Data criação</label>
			<input id="cte_dt_criacao" text="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy hh:mm" ng-model="ctrl.cte.dtCriacao" ng-disabled="true"/>
		</div>
		<div class="form-group col-md-4">
			<label for="cte_dt_alteracao">Data alteração</label>
			<input id="cte_dt_alteracao" text="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy hh:mm" ng-model="ctrl.cte.dtAlteracao" ng-disabled="true"/>
		</div>
		<div class="form-group col-md-4">
			<label for="cte_tipo_emissao">Tipo emissão</label>
			<select id="cte_tipo_emissao" ng-model="ctrl.cte.tpEmissao" ng-options="tpEmissao.id as tpEmissao.descricao for tpEmissao in ctrl.tpEmissaoOptions" class="form-control"></select>
		</div>
		<div class="form-group col-md-4">
			<label for="cte_ambiente">Ambiente</label>
			<select id="cte_ambiente" ng-model="ctrl.cte.tpAmbiente" ng-options="ambiente.id as ambiente.descricao for ambiente in ctrl.tpAmbienteOptions" class="form-control"></select>
		</div>
		<div class="form-group col-md-4">
			<label for="cte_servico">Serviço</label>
			<select id="cte_servico" ng-model="ctrl.cte.tpServico" ng-options="servico.id as servico.descricao for servico in ctrl.tpServicoOptions" class="form-control"></select>
		</div>
		<div class="form-group col-md-4">
			<label for="cte_tpCTe">Tipo CT-e</label>
			<select id="cte_tpCTe" ng-model="ctrl.cte.tpCte" ng-options="tpCte.id as tpCte.descricao for tpCte in ctrl.tpCTeOptions" class="form-control"></select>
		</div>
		<div class="form-group col-md-4">
            <label for="cte_vlr_frete">Valor frete</label>
            <input type="text" class="form-control" id="cte_vlr_frete" ng-model="cte.freteTotal">
        </div>
    </div>
</form>